@import "./sass/_base";
@import "./sass/_header";
@import "./sass/_footer";
@import "./sass/_btn";

.section_presentation {
  overflow: hidden;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  text-align: center;
  background: linear-gradient(white, #eaeaea);
}
.section_presentation h2 {
  margin-top: 30px;
  font-style: normal;
  text-align: center;
}
.section_presentation h4 {
  width: 315px;
  height: 46px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .section_presentation h4 {
    width: 100%;
    text-align: center;
  }
}
/*** section click ***/

.section_click {
  padding: 0 4vw 5vw 5vw;
}
@media screen and (min-width: 1024px) {
  .section_click {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
.section_click__title {
  width: 100%;
  max-width: 1440px;
}
}
a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .section_presentation {
    width: 100%;
    text-align: start;
  }
}

.section_click__btn {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 2px lightgrey;
  border-radius: 20px 20px;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  white-space: nowrap;
}
.section_click__btn__order {
  position: relative;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  right: 28px;
  padding: 5px 10px;
}
.section_click__btn__order p {
  position: relative;
  bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .sectionflexmedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}

/*** section restaurants **/

.section_restaurants {
  padding: 0 5vw;
  background-color: #f6f6f6;
  align-items: center;
}
.section_restaurants__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.card {
  height: fit-content;
  flex: 100%;
  margin: 3vw 0px;
  background-color: white;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  width: 90vw;
}
.card__img {
  position: relative;
  width: 90vw;
}
@media screen and (min-width: 1024px) {
  .card__img {
    max-width: 500px;
  }
}
.card__img__new {
  font-weight: bold;
  z-index: 1;
  background-color: #99e2d0;
  color: #1a8a68;
  width: 80px;
  display: block;
  text-align: center;
  right: 1em;
  top: 1em;
  position: absolute;
  height: 2.5em;
  line-height: 0.7em;
  white-space: nowrap;
  border-radius: 4px;
}
.card__img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.card__caption {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.card__caption__text {
  padding: 0 1rem;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
.card__caption__text h4 {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
}
.card__caption__text p {
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 0.6rem;
}
.card__caption__hrt {
  padding: 0px;
  position: relative;
  bottom: 10px;
}
.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
.fa-stack :nth-child(2) {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
}
@media screen and (min-width: 1024px) {
  .card {
    max-width: 500px;
    margin: 16px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .section_restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
