*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

/*** Header ***/

.header {
  background-color: #ffff;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 5px 5px lightgrey;
}

img {
  display: flex;
  text-align: center;
}
h1 {
  margin-top: 10px;
}

/*** Fonctionnement (titre) et trois boutons  */

.section_choice {
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
h4 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
}
/*** section présentation + btn **/

.section_presentation {
  overflow: hidden;
  padding: 0 5vw;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  text-align: center;
  background: linear-gradient(white, #eaeaea);
}
.section_presentation h2 {
  margin-top: 30px;
  font-style: normal;
  text-align: center;
}
.section_presentation h4 {
  width: 315px;
  height: 46px;
  font-weight: 300;
}
.btn {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px lightgrey;
  width: 60vw;
  max-width: 250px;
  align-self: center;
  transition: 250ms;
  cursor: pointer;
}

/*** section click ***/

.section_click {
  padding: 0 5vw 5vw 5vw;
}
.section_click__btn {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 2px lightgrey;
  border-radius: 20px 20px;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  white-space: nowrap;
}
.section_click__btn__order {
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  right: 28px;
  padding: 2px 10px;
}
