@use "../sass/variables" as *;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bgc {
  background-color: #f6f6f6;
}
body {
  position: relative;
  margin: 0;
  font-family: "roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
}
main {
  z-index: 0;
  margin: auto;
}

.fas {
  margin-right: 5px;
}

.fa-store {
  color: $primarycolor;
}
.fa-mobile-alt {
  color: $facolor;
}
.fa-list-ul {
  color: $facolor;
}

.fa-arrow-left {
  font-size: larger;
}

a {
  text-decoration: none;
  color: $blackcolor;
}
/* # - Heart icon animation ------------------ # */

.restaurant_page .far,
.card .far {
  text-align: center;
  width: 26px;
  color: inherit;
}
.restaurant_page .fas,
.card .fas {
  text-align: center;
  width: 26px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.restaurant_page .fas:hover,
.restaurant_page .fas:active,
.card .fas:hover,
.card .fas:active {
  opacity: 1;
  cursor: pointer;
}
.section_choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  margin: 0 auto;
  background-color: #eaeaea;
}
