@use "./variables" as *;

fieldset,
button,
input {
  border: none;
}
.btn {
    background: linear-gradient(170deg, $secondarycolor, $primarycolor);
    color:$white;
    font-size: large;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    margin: 0 2vw 5vw;
    box-shadow: 4px 4px 2px $shadow;
    width: 62vw;
    max-width: 250px;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
  }

