
.footer {
  background-color: #353535;
  color: white;
  padding: 5vw;
  & h5 {
    font-family: shrikhand, cursive;
    font-size: larger;
    margin-top: 0;
  }
  & a {
    color: white;
    text-decoration: none;
    & :visited {
      color: white;
    }
  }
}



.footer_link {
  font-family: "roboto";
  font-weight: 500;
}
.fas {
  margin-right: 5px;
}
.footer_selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}

@media (min-width: 1024px) {
  .footer_selection {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 15vw;
  }
}
@media (min-width: 1024px) {
  .footer h5 {
    display: flex;
    justify-content: flex-end;
    top: 37px;
    position: relative;
    margin-right: 10px;
  }
}
