/***  Header global  ***/

.header {
  background-color: #ffff;
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 5px 5px $shadow;
  & img {
    display: flex;
    text-align: center;
    & h1 {
      margin-top: 10px;
    }
  }
}
/***  Header menus ***/

.header {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
}
.header_back-arrow {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
}
.header_logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header_logo__container__no-shadow {
  box-shadow: none;
}
.header_logo__container__alt-size {
  max-width: 1440px;
}
@media (min-width: 1024px) {
  .header_logo__container {
    height: 96px;
  }
}
@media (min-width: 1440px) {
  .header_logo__txt {
    display: none;
  }
  .header_logo__img {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header_logo__img {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: initial;
    gap: initial;
    width: 200px;
    height: 35px;
  }
}
