.loader {
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: white;
    position: fixed;
    animation: loading 2.5s;
  }
  @media (min-width: 768px) {
    .loader {
      gap: 3rem;
    }
  }
  @media (min-width: 1024px) {
    .loader {
      gap: 1rem;
    }
  }
  .loader__img {
    width: 7rem;
  }
  @media (min-width: 768px) {
    .loader__img {
      width: 10rem;
    }
  }
  @media (min-width: 1024px) {
    .loader__img {
      width: 20rem;
    }
  }
  .loader__dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s 5;
  }
  @media (min-width: 768px) {
    .loader__dot {
      width: 2rem;
      height: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .loader__dot {
      width: 3rem;
      height: 3rem;
    }
  }
  .loader__dot:nth-child(1) {
    animation-delay: 300ms;
    background: #ff79da;
  }
  .loader__dot:nth-child(2) {
    animation-delay: 400ms;
    background: rgb(147, 86, 220);
  }
  .loader__dot:nth-child(3) {
    animation-delay: 500ms;
    background: #89c8fa;
  }
  .loader__dot:nth-child(4) {
    animation-delay: 600ms;
    background: #99e2d0;
}
  .loader__dot:nth-child(5) {
    animation-delay: 700ms;
    background: #008766;
  }
  
  @keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(1.6);
    }
    99% {
      display: initial;
    }
    100% {
      display: none;
      transform: scale(1);
    }
  }
  @keyframes loading {
    0% {
      z-index: 5;
    }
    70% {
      opacity: 1;
    }
    71% {
      transform: scale(1);
    }
    81% {
      opacity: 0.019;
    }
    99% {
      opacity: 0.001;
      transform: scale(5);
      z-index: 5;
    }
    100% {
      transform: scale(5);
      opacity: 0;
      z-index: -1;
    }
  }