@use "../sass/base";
@use "../sass/header";
@use "../sass/footer";
@use "../sass/btn";
@use "../sass/loader";
@use "../sass/variables";

.section_presentation {
  overflow: hidden;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: linear-gradient(#ffff, #eaeaea);
  & h2 {
    margin-top: 30px;
    font-style: normal;
    text-align: center;
  }
  & h4 {
    width: 315px;
    height: 46px;
    margin-top: 20px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1024px) {
  .section_presentation h4 {
    width: 100%;
    text-align: center;
  }
}

/*** section click ***/

.section_click {
  padding: 0 4vw 5vw 5vw;
  margin-top: 50px;
}

.fa-store:hover {
  color: #9356dc;
}
.fa-mobile-alt {
  color: #7e7e7e;
}
.fa-list-ul {
  color: #7e7e7e;
}
.fa-store {
  color: #7e7e7e;
}
@media screen and (min-width: 1024px) {
  .section_click {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .section_click__title {
    width: 100%;
    max-width: 1440px;
  }
}

@media screen and (min-width: 1024px) {
  .section_presentation {
    width: 100%;
    text-align: start;
  }
}

.section_click__btn {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 2px #d3d3d3;
  border-radius: 20px 20px;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  white-space: nowrap;
}
.section_click__btn__order {
  position: relative;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffff;
  right: 28px;
  padding: 5px 10px;
}
.section_click__btn__order p {
  position: relative;
  bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .sectionflexmedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}

/*** section restaurants **/

.section_restaurants {
  padding: 0 5vw;
  background-color: #f6f6f6;
  align-items: center;
}
.section_restaurants__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.card {
  height: fit-content;
  flex: 100%;
  margin: 3vw 0px;
  background-color: white;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  width: 90vw;
}
.card__img {
  position: relative;
  width: 90vw;
}
@media screen and (min-width: 1024px) {
  .card__img {
    max-width: 500px;
  }
}
.card__img__new {
  font-weight: bold;
  z-index: 1;
  background-color: #99e2d0;
  color: #1a8a68;
  width: 80px;
  display: block;
  text-align: center;
  right: 1em;
  top: 1em;
  position: absolute;
  height: 2.5em;
  line-height: 2.5em;
  white-space: nowrap;
  border-radius: 4px;
}
.card__img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.card__caption {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.card__caption__text {
  padding: 0 1rem;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
.card__caption__text h4 {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
}
.card__caption__text p {
  font-weight: lighter;
  margin-top: 15px;
  margin-bottom: 0.6rem;
}
.card__caption__hrt {
  padding: 0px;
  position: relative;
  top: 15px;
  font-size: 22px;
}
.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
.fa-stack :nth-child(2) {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
}
@media screen and (min-width: 1024px) {
  .card {
    max-width: 500px;
    margin: 16px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .section_restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* # - restaurant page ----------------------- # */

.restaurant_page {
  background-color: white;
}
.restaurant_page__picture {
  -o-object-fit: cover;
  object-fit: cover;
  height: 275px;
  width: 100%;
}
.restaurant_page__headline {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  max-width: 1055px;
  position: relative;
  margin: -40px auto 0 auto;
  padding: 32px 3.4vw 0px 7.4vw;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  background: #f6f6f6;
}
@media (min-width: 768px) {
  .restaurant_page__headline {
    padding-right: 175px;
    padding-left: 175px;
  }
}
@media (min-width: 1024px) {
  .restaurant_page__headline {
    padding-right: 320px;
    padding-left: 320px;
  }
}
.restaurant_page__like-icon-container {
  font-size: 24px;
  width: 24px;
  margin-right: 25px;
}
.restaurant_page__like-icon {
  position: absolute;
  line-height: 41px;
}
.restaurant_page__form {
  max-width: 1055px;
}
@media (min-width: 768px) {
  .restaurant_page__form {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (min-width: 1024px) {
  .restaurant_page__form {
    padding-right: 210px;
    padding-left: 210px;
  }
}
.restaurant_page__form label {
  opacity: 0%;
  transform: scaleX(0);
  transform-origin: right;
  animation: label-appear 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.restaurant_page__form label:nth-of-type(10) {
  animation-delay: 2000ms;
}
.restaurant_page__form label:nth-of-type(9) {
  animation-delay: 1800ms;
}
.restaurant_page__form label:nth-of-type(8) {
  animation-delay: 1600ms;
}
.restaurant_page__form label:nth-of-type(7) {
  animation-delay: 1400ms;
}
.restaurant_page__form label:nth-of-type(6) {
  animation-delay: 1200ms;
}
.restaurant_page__form label:nth-of-type(5) {
  animation-delay: 1000ms;
}
.restaurant_page__form label:nth-of-type(4) {
  animation-delay: 800ms;
}
.restaurant_page__form label:nth-of-type(3) {
  animation-delay: 600ms;
}
.restaurant_page__form label:nth-of-type(2) {
  animation-delay: 400ms;
}
.restaurant_page__form label:nth-of-type(1) {
  animation-delay: 200ms;
}

@keyframes label-appear {
  0% {
    background-color: #008766;
  }
  51% {
    opacity: 5%;
  }
  95% {
    opacity: 5%;
    background-color: #99e2d0;
  }
  100% {
    color: inherit;
    opacity: 1;
    transform: scaleX(1);
  }
}

.restaurant_page .fas:hover + .far,
.restaurant_page + .far,
.restaurant_page .fas:active + .far,
.card .fas:hover + .far,
.card .fas:active + .far,
.restaurant_page .fas,
.card .fas {
  background: linear-gradient(rgb(147, 86, 220), #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* # - short-text ------------------- # */
.restaurant_page .form_description,
.restaurant_page .form_subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main {
  z-index: 0;
  margin: auto;
}



address {
  font-style: inherit;
}

.localisation-container input[type="text"]::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

.localisation-container input[type="text"],
.localisation-container input[type="text"]::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

.restaurant_page__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.restaurant_page .form_title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 18.75px;
}
.restaurant_page .form_subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}
.restaurant_page .form_description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.63px;
}
.restaurant_page .form_price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/* # - Card restaurant ----------------------- # */

.card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 16px;
  width: 100%;
  height: 230px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow, transform, 0.5s;
}

.card .fa-heart {
  width: 26px;
  position: absolute;
  right: 23px;
  top: 5px;
}

/* # - Form ---------------------------------- # */

.restaurant_page .form {
  background: #f6f6f6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 12px;
}
.restaurant_page .form input[type="radio"] {
  display: none;
}
.restaurant_page .form input[type="radio"]:checked + label::before {
  transform: rotate(0deg);
  margin-right: 0;
}
.restaurant_page .form input[type="radio"]:checked + label::after {
  margin-right: 0;
}
.restaurant_page .form input[type="radio"]:checked + label .form_subtitle {
  padding-right: 99px;
}
.restaurant_page .form input[type="radio"]:checked + label .form_price {
  padding-right: 59px;
}
.restaurant_page .form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: 0;
  position: relative;
  height: 69px;
  margin: 0 3.47vw;
  padding: 0 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: box-shadow 0.5s;
}
@media (min-width: 1024px) {
  .restaurant_page .form label {
    margin: 0;
  }
}
.restaurant_page .form label:hover,
.restaurant_page .form {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
}
.restaurant_page .form label::before {
  content: "\f058";
  font-family: fontAwesome;
  font-size: 20px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  width: 59px;
  line-height: 69px;
  text-align: center;
  margin-right: -59px;
  transform: rotate(180deg);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.restaurant_page .form label::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  width: 59px;
  margin-right: -59px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: all 0.5s ease-in-out;
}
.restaurant_page .form_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  height: 27px;
  margin-top: 40px;
  margin-left: 3.4vw;
}
@media (min-width: 1024px) {
  .restaurant_page .form_title {
    margin-left: 0;
  }
}
.restaurant_page .form_title::after {
  justify-self: flex-end;
  content: "";
  overflow: visible;
  width: 40px;
  height: 3px;
  display: block;
  background-color: #99e2d0;
}
.restaurant_page .form_subtitle {
  margin-top: 12px;
  padding-right: 30px;
  transition: all 0.5s ease-in-out;
}
.restaurant_page .form_price {
  transition: all 0.5s ease-in-out;
  padding-left: 15px;
}
.restaurant_page .form_description__container {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  margin-bottom: 13.5px;
}
